<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevInsight AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🚀 DevInsight AI</h1>

    <p>AI-Powered GitHub Portfolio Analyzer</p>

    <form action="/analyze" method="POST">

        <input
            type="text"
            name="username"
            placeholder="Enter GitHub Username"
            required
        >

        <button type="submit">
            Analyze Profile
        </button>

    </form>

</div>

</body>
</html>